<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Perfil do Pet escolhido</title>
    <link rel="stylesheet" href="{% static 'css/perfil_pet.css' %}">
</head>
<body>
    <header>
        <section class="container_topo">
            <a><img class="logo" src="{% static 'imagens/logo.png' %}" alt="Logo_Faund"></a>
            <div>
                <a class="botao_topo" href="{% url 'pagina_adocao' %}">Adoções</a>
            </div>
        </section>
        <hr>
    </header>
    <section class="perfil-container">
        <div class="pet-info">
            <h1 style='color: orange'>Perfil do Pet</h1>
            <img src="{{ pet.imagem_perfil.url }}" alt="{{ pet.nome }}" style="width: 200px; height: 200px; object-fit: cover;">
            <p><strong>Nome:</strong> {{ pet.nome }}</p>
            <p><strong>Idade:</strong> {{ pet.idade }}</p>
            <p><strong>Raça:</strong> {{ pet.raca }}</p>
            <p><strong>História:</strong> {{ pet.historia }}</p>
            <p><strong>Sexo:</strong> {{ pet.sexo }}</p>
            <p><strong>Tipo de Pet:</strong> {{ pet.tipo_pet }}</p>
            <p><strong>Porte:</strong> {{ pet.porte }}</p>
            <p><strong>Pelagem:</strong> {{ pet.pelagem }}</p>
        </div>

        <div class="contato-ong">
            <h2>Entre em contato com a Ong: {{ong.nome_ong }}</h2>
            <a href="https://wa.me/{{ ong.telefone|cut:' '|cut:'-'|cut:'('|cut:')'|cut:'+' }}" target="_blank"><img src="{% static 'imagens/wpp.png' %}" style="width: 50px; height: 50px;"></a>  
        </div>
    </section>
</body>
</html>