body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .topo section {
        flex-direction: column;
        align-items: center;
    }

    .botao_login, .botao_ong {
        margin-top: auto;
    }

    .pagina_inicial {
        padding: auto;
    }
}

.rodape {
    color: white;
    background-color: orangered;
    width: 100%;
    height: 50px;
    margin: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
}

.rodape p {
    margin-left: 10px;
}

.container_topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container_login {
    justify-content: center;
    align-items: center;
    display: flex;
}

.botao_entrar {
    color: white;
    background-color: orange;
    border-color: orange;
    margin-top: 10px;
    padding: 4px;
    border-radius: 7%;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.botao_topo {
    color: white;
    background-color: orange;
    border-color: orange;
    margin-top: 10px;
    padding: 13px;
    border-radius: 7%;
    height: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.login {
    border-style: solid;
    border-width: 2px;
    color: rgba(128, 128, 128, 0.407);
    padding: 20px;
    border-radius: 7%;
}

.logo {
    width: 100px;  
    height: auto;  
    object-fit: contain; 
    padding: 0;
    margin: 0;
}

.input-username {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.input-password {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.btn-entrar {
    color: white;
    background-color: orange;
    border-color: orange;
    padding: 13px;
    border-radius: 7%;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.cadCheck {
    cursor: pointer;
    color: gray;
    text-decoration: none;
}

.cadCheck:hover {
    color: orange;
    text-decoration: underline;
}
