html, body {
    margin: 0;
    padding: 0;
    flex-direction: column;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container_topo {
        flex-direction: column;
        align-items: center;
    }

    .botao_topo {
        margin-top: 10px;
    }

    .container_check {
        padding: 20px; 
    }
}

.rodape {
    color: white;
    background-color: orangered;
    width: 100%;
    height: 50px;
    margin: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    margin-top: auto;
}

.container_topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.container_check {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 40px;
}

.botao_continuar {
    color: white;
    background-color: orange; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    margin-top: 20px; 
    font-size: 16px; 
    transition: background-color 0.3s;
}

.botao_topo {
    color: white;
    background-color: orange; 
    border: none;
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer; 
}


.logo {
    width: 100px;  
    height: auto;  
    object-fit: contain; 
}

.actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
}