body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .topo section {
        flex-direction: column;
        align-items: center;
    }
}

.container_pets {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altura mínima da tela */ 
    padding: 20px;
}

/* Caixa para exibir cada pet */
.pet-box {
    background-color: #fff; /* Cor de fundo da caixa */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
    max-width: 600px; /* Largura máxima da caixa */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto dentro da caixa */
}

.container_topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.botao_topo {
    color: white;
    background-color: orange;
    border-color: orange;
    margin-top: 10px;
    padding: 13px;
    border-radius: 7%;
    height: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.logo {
    width: 100px;  
    height: auto;  
    object-fit: contain; 
    padding: 0;
    margin: 0;
}

.pet-item {
    margin-bottom: 20px; /* Espaçamento entre cada pet */
    text-align: left;
}

.pet-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}